<section class="container-fluid">
  <div class="row wooden">

  </div>
</section>

<section class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2" ng-repeat="recipe in challenges">
      <div class="lr hvr-grow" style="margin:10px">
        <div class="pickgradient"></div><div class="ontop"><div class="onbottom">{{recipe.name}}</div></div>
        <img  ng-src="{{recipe.image}}" class="main-images" ng-class="{'vegan': recipe.vegan,'gf': recipe.gluten_free,'lowcarb': recipe.low_carb}">
      </div>
    </div>
  </div>
</section>

<!-- <section class="container-fluid">
  <div class="row">
    <div class="col-xs-6 col-sm-4 col-md-3" ng-repeat="recipe in challenges">
      <div ng-style="image_path != '' && {'background':'linear-gradient(to bottom,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.6)),url({{recipe.image}})','background-size':'cover'}" class="main-images" ng-class="{'vegan': recipe.vegan,'gf': recipe.gluten_free,'lowcarb': recipe.low_carb}">
        <p>{{recipe.name}}</p>
      </div>
    </div>
  </div>
</section> -->