<!DOCTYPE html>
<html ng-app='nourishd'>
<head>
  <title>Nourishd</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <!-- FACEBOOK LOGIN SCRIPT -->
  <script>
    window.fbAsyncInit = function() {
      FB.init({
        appId      : '113744475690398',
        xfbml      : true,
        version    : 'v2.5'
      });
    };
    (function(d, s, id){
       var js, fjs = d.getElementsByTagName(s)[0];
       if (d.getElementById(id)) {return;}
       js = d.createElement(s); js.id = id;
       js.src = "//connect.facebook.net/en_US/sdk.js";
       fjs.parentNode.insertBefore(js, fjs);
     }(document, 'script', 'facebook-jssdk'));
  </script>

  <!-- NAVBAR -->
  <div ng-controller="NavCtrl">
    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">

        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#/">nourishd</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="#/mychallenges"><span>MENU</span></a></li>
            <li><a href="#/dashboard"><span>DASHBOARD</span></a></li>
            <li><a href="#/chat"><span>CHAT</span></a></li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <li><a href="/#/signup"><button class="btn nav-right-link hvr-fade">Sign Up</button></a></li>
            <li><a href="/#/login"><button class="btn nav-right-link hvr-fade">Sign In</button></a></li>
            <li><a><button class="btn nav-right-link hvr-fade" ng-click="logout()">Logout</button></a></li>
          </ul>
        </div>

      </div>
    </nav>
  </div>

  <div ng-view>
    <%= yield %>
  </div>
</body>
</html>
