<section class="container-fluid" style="margin-top: 64px;">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 top-left-image">
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 top-right-image shadow">
      <h3>Recipes</h3><br>
      <p> A humble collection of recipes from our users across the globe. Nourishd is all about cooking and eating in uncomplicated ways. Through shared meals and cooking together, may we reconnect through the beauty of food. Our simple recipes provide the perfect start to a simple cookout!</p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 middle-left-image shadow">
      <h3>Challenges</h3><br>
      <p> Star in your own episode of Masterchef! Challenge your friends or anyone in the community to making any recipe on the site. Upload your images once complete and let the community vote for their favorite dish. Remember to add your own twist to really stand out!</p>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 middle-right-image">
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 bottom-left-image">
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 bottom-right-image shadow">
      <h3>Community</h3><br>
      <p> Upload recipes or finished dishes to your profile and show the world your artistic culinary skills! Remember to check out the community page and like your favorite dishes!</p>
    </div>
  </div>
</section>
