<section class="container-fluid" style="margin-bottom:60px;margin-top:50px;">
  <div class="row" id="recipe-page">
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2 position-image hover-home12 hover-home01" ng-repeat="recipe in results | limitTo: 18">
      <figure><img ng-src="{{recipe.image}}" class="main-images"></figure>
    </div>
    <div class="welcome">
      <div class="welcome-title">Welcome</div>
      <div class="welcome-signup">
        <a ng-if="!loggedIn" href="/#/signup"><button class="btn hvr-fade2">Sign Up</button></a>
        <a ng-if="!loggedIn"href="/#/login"><button class="btn hvr-fade2">Sign In</button></a>
        <a ng-if="loggedIn"href="/#/challenges"><button class="btn hvr-fade2">Recipes</button></a>
      </div>
    </div>
  </div>
</section>

<section class="container-fluid newsletter">
  <div class="row">
    <h1 class="subscribe-text">JOIN OUR EAT WELL, BE WELL CULTURE</h1>
    <p>Stay up to date with new recipes, specials and promotions</p>
    <div class="form-group">
      <input class="subsEmail" type="email" name="subscribe" placeholder="Enter your email address"/>
      <button type="submit" class="btn subscribe-button subscribe-fade">SIGN ME UP!</button>
    </div>
  </div>
</section>
