# Ignore all logfiles and tempfiles.
/log/*
!/log/.keep

*.rbc
capybara-*.html
.rspec
/log
/tmp
/db/*.sqlite3
/db/*.sqlite3-journal
/public/system
/coverage/
/spec/tmp
**.orig
rerun.txt
pickle-email-*.html

## Environment normalisation:
/.bundle
/vendor/bundle

# Ignore environment settings
.env

.DS_Store
bower_components
