<section class="container-fluid">
  <div class="row">
  <p>All Challenges</p>
    <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2 placement" ng-repeat="recipe in mychallenges | filter:{post_status:'pending'} track by recipe.id">
      <div class="hover12 hover01">
        <figure><img  ng-src="{{recipe.dish_image}}" class="main-images"></figure>
        <div class="dash-text">{{recipe.recipe_name}}</div>
      </div>
      <div class="opponent comment-user-image confirm">
        <img class="opponent-image" ng-src="{{recipe.other_player_image}}">
        <div class="comment-user-div confirm">{{recipe.other_player}}</div>
      </div>
      <div class="buttons">
        <button>Accept</button>
        <button>Decline</button>
        <button ng-click="recipeDone(recipe.id, recipe.creator, recipe.other_player_status)">Completed</button>
      </div>
            <p>Upload an image to complete this recipe</p>
            <div class="button" ngf-select ng-model="finishedImage.file">Select File</div>
            <img ngf-src="finishedImage.file" width="300" height="200">
    </div>
  </div>
</section>

<section class="container-fluid">
  <div class="row">
  <p>Completed</p>
    <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2 center-align" ng-repeat="recipe in mychallenges | filter:{post_status:'complete'}">
      <div class="hvr-grow add-margin">
        <div class="gradient"></div>
        <div class="ontop">
          <div class="onbottom">{{recipe.name}}</div>
        </div>
        <img  ng-src="{{recipe.creator_image}}" class="main-images" >
        <img  ng-src="{{recipe.participant_image}}" class="main-images">
      </div>
    </div>
  </div>
</section>

<!-- ACTIVE
show user
show dish name
show cancel option
show complete button
show view recipe

PENDING PARTICIPANT
Show dark
show block white "PENDING"
show cancel option
show user
show view recipe
show recipe name

PENDING YOU
show orange
show PENDING
show user
show accept / decline
show view recipe

OTHER USER DECLINE
show red
show OK button -->