<section class="container-fluid">
  <div class="row recipe-background center-align">
    <img ng-src="{{recipe.dish_image}}" class="main-images center-profile">
    <p class="info-position">{{recipe.name}} {{recipe.cook_time}} {{recipe.course}} {{recipe.exp_value}} {{recipe.serving}} <span ng-if="recipe.vegan">Vegan</span><span ng-if="recipe.gluten_free">Gluten Free</span><span ng-if="recipe.low_carb">Low Carb</span></p>
  </div>
</section>

<section class="container-fluid" style="height:400px">

  <div class="col-xs-12 col-md-4">
    <div class="row" style="height:200px;overflow:hidden">
        <img class="ingredients-image" ng-src="{{recipe.ingredients_image}}">
    </div>
    <div class="row" style="height:200px">
      <div ng-repeat="ingredient in ingredients">
        <p>{{ingredient.name}}</p>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-md-4">
    <div class="row" style="height:200px">
      <p  ng-repeat="instruction in instructions | orderBy: 'instruction.order'">{{instruction.step}}</p>
    </div>
      <button ng-click="checkValid(1)">Complete</button>
      <button ng-click="checkValid(2)">Challenge</button>
    <div class="row" style="height:200px"></div>
  </div>
  <div class="col-xs-12 col-md-4">
    <div class="row" style="height:200px">
      <div ng-bind-html="video"></div>
    </div>
    <div class="row" style="height:200px">
      <div ng-repeat="tool in tools">
        <p>{{tool}}</p>
      </div>
    </div>
  </div>

</section>

<div modal-show modal-visible="showDialog" class="modal fade" id="recipe-completed" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Recipe Completed!</h4>
      </div>
      <div class="modal-body">

        <div>

            <form ng-submit="formComplete.create()">
              <p>Upload an image to complete this recipe</p>
              <div class="button" ngf-select ng-model="myImage.file">Select File</div>
              <img ngf-src="myImage.file" width="300" height="200">
              <p>My Notes (if any):</p>
              <p><textarea class="form-control" ng-model="myNotes" rows="5"></textarea></p>
              <p><input type="submit" name="create" class="btn btn-info" value="Complete!"></p>
            </form>

            <div id="create-form-message"></div>
          </div>
      </div>
    </div>
  </div>
</div>

<div modal-show modal-visible="showDialog2" class="modal fade" id="challenge-user" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myChellengeRequest">Challenge a User!</h4>
      </div>
      <div class="modal-body">

        <div>

            <form ng-submit="createChallenge()">
              <p>Select a user to challenge:</p>
              <input ng-model="search"><br>

              <section id="user-list">
                <div class="panel panel-default panel-params">
                  <div class="panel-heading">Search:</div>
                    <div class="list-group">
                      <button type="button" class="list-group-item" ng-repeat="user in userlist | filter:{username: search} track by $index" ng-click="confirmChallenger($index)">
                        <div class="comment-user-image">
                          <img  class="comment-image-raw" ng-src="{{user.avatar_image}}" onerror="this.src=\'http://camaleon.tuzitio.com/assets/camaleon_cms/image-not-found-4a963b95bf081c3ea02923dceaeb3f8085e1a654fc54840aac61a57a60903fef.png\'">
                        </div>
                        <div class="comment-user-div">{{user.username}}</div>
                        <div class="comment-user-diet pull-right"><span ng-if="user.vegan">Vegan</span><span ng-if="user.gluten_free">Gluten Free</span><span ng-if="user.dairy_free">Dairy Free</span><span ng-if="user.nut_free">Nut Free</span><span ng-if="user.soy_free">Soy Free</span></div>
                      </button>
                    </div>
                </div>
              </section>

              <p><input type="submit" name="create" class="btn btn-info confirm" value="Challenge!"></p>
              <div class="comment-user-image confirm">
                <img  class="comment-image-raw" ng-src="{{selectedUser.avatar_image}}" onerror="this.src=\'http://camaleon.tuzitio.com/assets/camaleon_cms/image-not-found-4a963b95bf081c3ea02923dceaeb3f8085e1a654fc54840aac61a57a60903fef.png\'">
              </div>
              <div class="comment-user-div confirm">{{selectedUser.username}}</div>
            </form>

            <div id="create-form-message"></div>
          </div>
      </div>
    </div>
  </div>
</div>