.position-filter {
  position: relative;
  top: -34px;
  background-color: white;
  width: 235px;
  margin: 0 auto;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 1.375em;
  font-family: 'Montserrat', sans-serif;
  color: orange;
}
.position-buttons {
  margin-bottom: -13px;
  position: relative;
  top: -37px;
}

.wooden-background {
  height:200px;
  margin-top: 50px;
  /*background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)), url("https://d3ui957tjb5bqd.cloudfront.net/images/screenshots/products/22/228/228908/d8y1ucsf8z2b3k4vcqrq5id0rr9p0i00ehhqent2jwtqsxuwforyfm3ikkd5dznl-f.jpg?1415208277") no-repeat center center fixed;*/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
}

/*.ontop {
  width:180px;
  height:130px;
  position: absolute;
  margin-left:-90px;
  left:50%;
  top:10px;
}*/
.border {
  position: relative;
  border: 2px solid orange;
  bottom: -57px;
  height: 123px;
  border-radius: 5px;
}

.onbottom {
/*  position: absolute;
  bottom: 0px;
  text-align:left;
  color:white;*/
  z-index: 50;
  font-family: 'Montserrat', sans-serif;
  color: #fff !important;
  font-size: 1.375em;
  line-height: 1.2em;
  font-weight: 900;
  text-transform: uppercase;
  position: absolute;
  bottom: 20px;
  left: 0px;
  padding: 5px 20px 5px;
  transform: none !important;
  text-align: left;
  transition: all .3s !important;
  -webkit-transition: all .3s !important;
}


.position-image {
  padding: 0px;
}

.main-images {
/*  width: 200px;
  height: 150px;*/
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
/*  border-radius: 15px;
  border: 5px solid rgba(255,255,255,0.1);*/
/*  background-size: cover;
  background-position: center;*/
}
.span-positioning {
  position: absolute;
  bottom: 0px;
  left: 20px;
  z-index: 52;
  display: block;
  width: 300px;
  margin: 0;
  padding: 0;
  font-size: 20px;
  text-decoration: none;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  opacity: 0;
}
.position-image:hover .span-positioning {
  bottom: 20px;
  opacity: 1;
}
.position-image:hover .onbottom {
  bottom: 40px;
}
.vegan {
  color: red;
}
.gluten-free {
  color: orange;
}
.low-carb {
  color: blue;
}
.nut-free {
  color: purple;
}
.soy-free {
  color: yellow;
}