.main-images {
  width: 200px;
  height: 150px;
  border-radius: 15px;
  border: 5px solid red;
}
.vegan {
  border: 5px solid orange;
}
.gf {
  border: 5px solid green;
}
.lowcarb {
  border: 5px solid purple;
}