.recipe-background {
  height:250px;
  margin-top: -50px;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)), url("https://d3ui957tjb5bqd.cloudfront.net/images/screenshots/products/22/228/228908/d8y1ucsf8z2b3k4vcqrq5id0rr9p0i00ehhqent2jwtqsxuwforyfm3ikkd5dznl-f.jpg?1415208277") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
}

.dark-image {
  min-width: 100%;
  min-height: 100%;
  position: relative;
  top: -200px;
  z-index: -50;
}

.center-profile {
  position: relative;
  top: 50px;
}

.info-position {
  margin-top: 0px;
  position: relative;
  bottom: -50px;
  color: white;
}

.ingredients-image {
  width: 100%;
  height: auto;
}
.modal-dialog {
  color: green;
  border-radius: 0px;
}