<section class="container">
  <div class="row wooden-background">
    <div class="col-xs-12 border">
    <div class="position-filter"><h3>SHOW ME</h3></div>
    <div class="position-buttons">
      <button ng-click="getMeal('Appetizer')">Appetizer</button>
      <button ng-click="getMeal('Main')">Main</button>
      <button ng-click="getMeal('Dessert')">Dessert</button>
    </div>
    <div>
      <button ng-click="showAll()">Show All</button>
      <button ng-click="showVegan()">Vegan</button>
      <button ng-click="showGlutenFree()">Gluten Free</button>
      <button ng-click="showLowCarb()">Low Carb</button>
      <button ng-click="showNutFree()">Nut Free</button>
      <button ng-click="showSoyFree()">Soy Free</button>
    </div>
    </div>
  </div>
</section>

<section class="container shadow">
  <div class="row" id="recipe-page">
    <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 position-image hover12 hover01" ng-repeat="recipe in results | filter:{'course':meal} track by recipe.id">
      <a href="/#/viewrecipe/{{recipe.id}}">
        <figure><img ng-src="{{recipe.image}}" class="main-images"></figure>
        <div class="onbottom">{{recipe.name}}</div>
        <span ng-if="recipe.vegan" class="span-positioning vegan">vegan</span>
        <span ng-if="recipe.gluten_free" class="span-positioning gluten-free">Gluten Free</span>
        <span ng-if="recipe.low_carb" class="span-positioning low-carb">Low Carb</span>
        <span ng-if="recipe.nut_free" class="span-positioning nut-free">Nut Free</span>
        <span ng-if="recipe.soy_free" class="span-positioning soy-free">Soy Free</span>
      </a>
    </div>
  </div>
</section>