<section>
  <ul class="dynamic-grid" angular-grid="allPosts" ag-grid-width="300" ag-gutter-size="10" ag-id="gallery" ag-refresh-on-img-load="true">
    <li data-ng-repeat="recipe in allPosts track by $index" class="grid" ng-class="{'challenge-post':recipe.post_type=='challenge','personal-post':recipe.post_type=='personal'}" style="border:none">
      <img ng-src="{{recipe.creator_image}}" class="grid-img max-height" />

      <div class="like-button">
        <a ng-if="!recipe.voted_before" ng-click="likeRecipe(recipe.id, 'creator', $index)"><img class="logosize like-pad" src="/assets/like.png" /></a>
        <a ng-click="showModal(recipe.id)"><img class="logosize com-pad" src="/assets/interface.png" /></a>
      </div>

      <div class="comment-user-image confirm shift">
        <img class="comment-image-raw" ng-src="{{recipe.creator_avatar}}">
        <div class="comment-user-div confirm">{{recipe.creator_username}}</div>
      </div>

      <div class="likes"><img class="scale-down" src="/assets/like.png" /> {{recipe.creator_likes}}</div>

      <div ng-if="recipe.post_type=='challenge'" class="participant-img max-height">
        <img ng-src="{{recipe.participant_image}}" class="grid-img" />

        <div class="like-button">
          <a ng-if="!recipe.voted_before" ng-click="likeRecipe(recipe.id, 'participant', $index)"><img class="logosize like-pad" src="/assets/like.png" /></a>
          <a ng-click="showModal(recipe.id)"><img class="logosize com-pad" src="/assets/interface.png" /></a>
        </div>

        <div class="comment-user-image confirm shift">
          <img class="comment-image-raw" ng-src="{{recipe.participant_avatar}}">
          <div class="comment-user-div confirm">{{recipe.participant_username}}</div>
        </div>

        <div class="likes"><img class="scale-down" src="/assets/like.png" /> {{recipe.participant_likes}}</div>
      </div>

      <div class="title">
        <p class="adjust-left">{{recipe.recipe_name}}</p>
      </div>
    </li>
  </ul>
</section>