<div ng-controller="FooterCtrl">

  <div class="container-fluid footer-top shadow center-align">
    <div class="social-media-position">
      <img class="social-media-icons" ng-src="<%= asset_path( 'facebookfooter.png' ) %>" />
      <img class="social-media-icons" ng-src="<%= asset_path( 'Twitter.png' ) %>" />
      <img class="social-media-icons" ng-src="<%= asset_path( 'instagram.png' ) %>" />
      <img class="social-media-icons" ng-src="<%= asset_path( 'pinterest.png' ) %>" />
    </div>
  </div>

  <div class="container-fluid footer-bottom">
    <p>&copy Nourishd Ltd. 2016</p>
  </div>

</div>