<div ng-controller="FooterCtrl">

  <div class="container-fluid footer-top shadow">
    <p></p>
  </div>

  <div class="container-fluid footer-bottom">
    <p>&copy Nourishd Ltd. 2016</p>
  </div>

</div>